/********************* VARIABLES *********************/
:root {
    --theme-color: rgb(0, 115, 190);
    --black-med: rgb(30, 30, 30);
    --blue-med: rgb(20, 90, 170);
    --blue-light: rgb(0, 115, 190);
    --green-light: rgb(70, 190, 70);
    --green-med: rgb(10, 130, 10);;
    --orange-light: rgb(210, 130, 0);
    --orange-med: rgb(200, 110, 0);
    --orange-dark: rgb(200, 75, 0);
    --purple-dark: rgb(90, 15, 90);
    --red-light: rgb(205, 70, 70);
    --red-med: rgb(185, 50, 50);
    --red-med-2: rgb(160, 15, 15);
    --red-dark: rgb(130, 10, 10);
    --white-light: #dfdfdf;
    --white-med: #E8E8E8;
    --yellow: rgb(215, 190, 0);
}

/********************* FONTS *********************/
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/roboto-400.woff2") format("woff2"),
         url("fonts/roboto-400.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/roboto-500.woff2") format("woff2"),
         url("fonts/roboto-500.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/roboto-700.woff2") format("woff2"),
         url("fonts/roboto-700.woff") format("woff");
}


/********************* SCROLLBAR *********************/
::-webkit-scrollbar {
	width: 15px;
	height: 10px;
	background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
	background: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-thumb {
	min-height: 28px;
	background: rgba(70, 70, 70, 0.75);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(70, 70, 70, 0.9);
}

/********************* GENERAL *********************/
:focus {
	outline-color: var(--white-light);
}

html, body {
    margin: 0;
    min-height: 100vh;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 600;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

figure {
    margin: 0;
}

table {
    border-collapse: collapse;
    font-weight: 400;
}

th, td {
    padding: 0.35em;
}

h1, h2, h3 {
    margin: 0.5rem 0;
}

h4, h5, h6 {
    margin: 0 0 0.5rem 0;
}

p {
    margin: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--blue-med);
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--blue-light);
}

button {
    width: fit-content;
    float: left;
    padding: 0.5rem 1rem;
	margin: 0.4rem 0.3rem;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    font-family: "Roboto";
    background-color: var(--blue-med);
	color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
	background: var(--blue-light);
}

.btn-hollow {
    width: fit-content;
    padding: 0.85rem 1rem;
    margin: 0.5rem 0;
    background: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto";
    color: #000;
    border: 2px solid #000;
    border-radius: 0;
}

.btn-hollow.white {
    border-color: #eee;
    color: #eee;
}

.btn-hollow:hover, .btn-hollow.white:hover {
    border-radius: 3px;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: #fff;
}

.text-btn {
    display: inline;
    color: var(--theme-color);
    cursor: pointer;
}

.bg-prism {
    background-image: url("../images/background-prism-white.png");
    background-repeat: repeat;
}

.invisible {
    visibility: hidden !important;
}

.hidden {
    display: none !important;
}

.relative {
    position: relative;
}

.hidden-panel {
    opacity: 0;
}

.flex-end {
    align-self: flex-end;
}

.pad-ctn-1, .pad-ctn-2, .pad-ctn-3 {
    box-sizing: border-box;
}

.pad-ctn-1 {
    padding: 1rem;
}

.pad-ctn-2 {
    padding: 2rem;
}

.pad-ctn-3 {
    padding: 3rem;
}

.full-width {
	width: 100% !important;
}

.max-width {
    width: max-content;
}

.no-mgn {
    margin: 0 !important;
}

.mgn-btm {
    margin-bottom: 0.3rem;
}

.placeholder::-webkit-input-placeholder {
    opacity: 1;
    font-size: 1em;
}

/********************* FORM *********************/
form {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-sizing: border-box;
}

label, input {
    transition: all 0.2s;
}

input {
    padding: 0.5em;
    margin-bottom: 0.3rem;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #333;
    color: #eee;
    overflow: hidden;
    text-overflow: ellipsis;
}

input.med-width {
    max-width: 15rem;
}

label {
    margin-bottom: 0.3rem;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #fff;
}

input[type="button"], input[type="submit"] {
    border: none;
    border-radius: 25px;
}

.checkbox-ctn {
    margin: 0.4rem 0;
    cursor: pointer;
}

.checkbox-ctn input {
	position: absolute;
	opacity: 0;
	height: 1.2em;
	width: 1em;
	margin: 2px;
}

.checkbox-ctn .checkbox {
	position: absolute;
	height: 1em;
	width: 1em;
	background-color: transparent;
	border: 2px solid var(--foreground-color);
	transition: all 0.1s ease-in-out;
}

.checkbox-ctn input:checked ~ .checkbox {
    border-radius: 3px;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.checkbox-ctn input:checked ~ .checkbox::after {
	content: "";
	position: absolute;
	transform: rotate(45deg) scale(1);
	top: 2px;
	left: 5px;
	width: 5px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

.checkbox-title {
    margin-left: 1.5rem;
    font-family: "Roboto";
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--foreground-color);
    cursor: pointer;
}

.multi-checkboxes .checkbox-ctn:not(:last-child) {
    margin-right: 0.75rem;
}

.t-input:not([type="checkbox"]) {
	width: 100%;
	padding: 0.5em;
	margin-bottom: 0.5rem;
    border: 0;
    border-bottom: 1px solid #666;
    box-sizing: border-box;
}

.t-input[type="text"], .t-input[type="password"], .t-input[type="email"] {
    cursor: text;
    background-color: rgba(0, 0, 0, 0);
}

.t-input:placeholder-shown {
    color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #444;
}

.t-input:placeholder-shown:hover {
    border-color: #000;
}

.t-input:not(:placeholder-shown), .t-input:focus, .t-input:focus:hover {
    color: #000;
    border-color: var(--green-med);
    outline: none;
}

.t-input:placeholder-shown + label.lb-title {
    color: #666;
    cursor: text;
    font-weight: 400;
    height: 1rem;
    transform: translateY(1.5rem);
    z-index: 10;
}

.t-input:placeholder-shown + label.lb-title:hover {
    color: #000;
}

.t-input:not(:placeholder-shown) + label.lb-title, .t-input:focus + label.lb-title {
    color: #222;
    font-size: 0.7rem;
    font-weight: 500;
    height: 1rem;
    transform: translate(0);
}

.t-input:placeholder-shown.invalid, .t-input:not(:placeholder-shown).invalid, .t-input:focus.invalid, .t-input:focus:hover.invalid {
    border-color: var(--red-med);
}

.t-input:placeholder-shown.invalid + label.lb-title, .t-input:not(:placeholder-shown).invalid + label.lb-title, .t-input:focus.invalid + label.lb-title {
    color: var(--red-med);
}

.t-input:placeholder-shown.invalid + label.lb-title:hover {
    color: var(--red-dark);
}

.lb-title.horizontal {
    margin: 0.5rem 0.5rem 0 0;
    min-width: 2.5em;
    max-width: 4.5em;
}

.row {
    display: flex;
    flex-flow: row;
}

.row.between > :not(:last-child), .row.row-mgn > :not(:last-child) {
    margin-right: 0.2rem;
}

.between {
    justify-content: space-between;
}

.column {
    display: flex;
    flex-flow: column;
}

.flex-child {
    min-width: 0;
}

.grow {
    flex-grow: 1;
}

.form-group {
    display: flex;
    flex-flow: column;
    margin: 0.25rem 0;
}

.row > .form-group:not(:last-of-type) {
    margin-right: 0.75rem;
}

.form-group.rev {
    flex-flow: column-reverse;
}

.form-group.no-error {
    padding-bottom: 0.8rem;
}

.error-label {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--red-med);
}

.submit {
	align-self: center;
}

.submit:hover {
    border-radius: 3px;
    background-color: var(--blue-light);
    border-color: var(--blue-light);
    color: #fff;
}

.add-btn {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 0.1em 0.5em;
    border-radius: 3px;
    background-color: #333;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.add-btn::before {
    content: "\00D7";
    display: inherit;
    font-size: 1.35rem;
    transform: rotate(45deg);
}

.add-btn:hover {
    background-color: var(--blue-light);
    color: #fff;
}

::-webkit-input-placeholder {
    transition: inherit;
    opacity: 0;
}

/********************* MODAL *********************/
.modal-container {
	position: fixed;
	left: 0;
    top: 0;
    display: flex;
    align-items: center;
	width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 10;
}

.modal-content {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    max-width: 700px;
    max-height: 98vh;
    margin: 1em auto;
    border: 2px solid #222;
    border-radius: 6px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.8);
    background-color: #171717;
    color: #eee;
	animation: animateZoom 0.6s;
}

@keyframes animateZoom {
	0%		{transform: scale(0);}
	100%	{transform: scale(1);}
}

span.close {
	position: absolute;
	right: 0;
    top: 0;
    margin: 0;
    padding: 0.5rem;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 24px;
    font-weight: 400;
    line-height: 0.5;
    color: #555;
	cursor: pointer;
	transition: all 0.2s;
}

span.close:hover {
    background: var(--red-med-2);
    color: #fff;
}

/********************* MENU *********************/
.menu {
    display: flex;
    flex-direction: column-reverse;
}

.menu-toggle {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    margin: 2px 2px 0 0;
    border-radius: 50%;
    z-index: 3;
}

.menu-toggle:hover {
    background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.menu-content:not(.hidden) + .menu-toggle {
    background-image: radial-gradient(rgba(200, 200, 200, 0.4), rgba(200, 200, 200, 0.1));
}

.menu-toggle::before {
    content: "";
    position: absolute;
    display: inline-block;
	right: 0;
	top: 0;
    margin: 8px 10px 0 0;
    padding: 5px;
    background: none;
    border: solid rgba(255, 255, 255, 0.6);
    border-width: 0 3px 3px 0;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: rotate(45deg);
    transition: .2s all, 0s border;
}

.menu-toggle:hover::before {
	border-color: #fff;
}

.menu-content:not(.hidden) + .menu-toggle::before {
    border-color: rgba(0, 0, 0, 0.65);
    box-shadow: 2px 2px 3px 0px rgba(200, 200, 200, 0.1);
}

.menu-content {
    position: absolute;
    top: 35px;
    right: 8px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #dfdfdf;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.menu-content > div {
    padding: 3px 6px;
    border-bottom: 0.75px solid rgba(255, 255, 255, 0.1);
    border-radius: 0;
}

.menu-content > div:first-child {
    border-radius: 3px 3px 0 0;
}

.menu-content > div:last-child {
    border-bottom: none;
    border-radius: 0 0 3px 3px;
}

.menu-content > div:hover {
    background-color: rgba(50, 50, 50, 0.5);
    color: #fff;
}

/********************* DROPDOWN *********************/
.down-arrow::after {
    content: "";
    margin: 0.2em 0.3em 0.4em 0.3em;
    padding: 5px;
    background: none;
    border: solid var(--white-light);
    border-width: 0 0.15em 0.15em 0;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: rotate(45deg);
}

.dropdown {
    display: inline-flex;
    padding: 0.3em 0.2em 0.3em 0.5em;
    border: 1px solid #333;
    border-radius: 3px;
    font-weight: 400;
    font-size: 0.9em;
    background-color: #333;
    color: #eee;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
}

.dropdown::before {
    content: attr(data-value);
    max-width: 7.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown.down-arrow::after {
    padding: 3px;
    margin: 0.2em 0.3em 0.6em 0.4em;
    border-width: 0 0.1em 0.1em 0;
}

.drop-menu-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1.9em;
    left: 0;
    max-height: 50vh;
    border: 2px solid #333;
    border-radius: 0 2px 4px 4px;
    background-color: #222;
    color: var(--white-light);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 0.9em;
    overflow: auto;
    box-sizing: border-box;
    z-index: 10;
    user-select: none;
}

.drop-menu-content:not(.hidden) + .dropdown {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2px;
}

.drop-btn {
    padding: 0.2em 0.3em;
    max-width: 7.5em;
    cursor: pointer;
}

.drop-btn:hover {
    background-color: #333;
}

.drop-menu-content > .drop-btn:nth-of-type(even) {
    background-color: #272727;
}

.drop-menu-content > .drop-btn:nth-of-type(even):hover {
    background-color: #373737;
}

/********************* INLINE MESSAGES *********************/
.inline-message {
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: fit-content;
    color: #fff;
    background-color: #333;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: auto;
    text-overflow: clip;
    font-weight: 400;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue-med);
}

.bg-red {
    background-color: var(--red);
}

.bg-orange {
    background-color: var(--orange-light);
}

.bg-yellow {
    background-color: var(--yellow);
}