.bookmark {
    position: relative;
    flex: auto;
	align-self: flex-start;
    max-width: calc(100% / 3);
    width: calc(100% / 3);
    height: 20.5rem;
    outline: 0.5px solid rgba(black, 0.5);
    outline-offset: -0.5px;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    &:hover {
        z-index: 2;
        box-shadow: 0px 0px 6px 4px $black-2;
    }

    @media #{$media-1200-w} {
        width: calc(100% / 2);
        max-width: calc(100% / 2);
        max-height: 30vw;
    }

    @media #{$media-750-w} {
        width: 100%;
        max-width: 100%;
        max-height: none;
    }

    a { display: grid; }

    .image {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        background-color: $black-1;

        &:hover { animation: movePosition 3s ease-in-out; }

        &.no-image { object-fit: scale-down; }
    }

    .title {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2em;
        line-height: 2em;
        font-size: 15px;
        background: rgba(black, 0.6);
        color: $white-2;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@keyframes movePosition {
	0%, 100% { object-position: center; }
	25%	{ object-position: left top; }
    75% { object-position: right bottom; }
}

.preview-output {
    @extend .bookmark;
    position: relative;
    border: 1px solid $black-3;
    margin: 0 auto 1rem auto;
    max-width: 100%;
    width: 24rem;
    height: 13.5rem;
    background: $black-2;
    cursor: pointer;
}